WebClient/Connected Services/SignupReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ContactManagement.User" />
  <xs:element name="Signup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContactManagement.User" minOccurs="0" name="u" nillable="true" type="q1:user" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>