WebClient/Connected Services/ContactReference/ContactManagement.User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContactManagement.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContactManagement.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobileno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="contact" nillable="true" type="tns:contact" />
</xs:schema>