WebClient/Connected Services/ContactReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ContactManagement.User" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContact_Contact_InputMessage">
    <wsdl:part name="parameters" element="tns:Contact" />
  </wsdl:message>
  <wsdl:message name="IContact_Contact_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContact_Removecontact_InputMessage">
    <wsdl:part name="parameters" element="tns:Removecontact" />
  </wsdl:message>
  <wsdl:message name="IContact_Removecontact_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovecontactResponse" />
  </wsdl:message>
  <wsdl:message name="IContact_Updatecontact_InputMessage">
    <wsdl:part name="parameters" element="tns:Updatecontact" />
  </wsdl:message>
  <wsdl:message name="IContact_Updatecontact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatecontactResponse" />
  </wsdl:message>
  <wsdl:portType name="IContact">
    <wsdl:operation name="Contact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContact/Contact" message="tns:IContact_Contact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContact/ContactResponse" message="tns:IContact_Contact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Removecontact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContact/Removecontact" message="tns:IContact_Removecontact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContact/RemovecontactResponse" message="tns:IContact_Removecontact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Updatecontact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContact/Updatecontact" message="tns:IContact_Updatecontact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContact/UpdatecontactResponse" message="tns:IContact_Updatecontact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContact" type="tns:IContact">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Contact">
      <soap:operation soapAction="http://tempuri.org/IContact/Contact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Removecontact">
      <soap:operation soapAction="http://tempuri.org/IContact/Removecontact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Updatecontact">
      <soap:operation soapAction="http://tempuri.org/IContact/Updatecontact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactService">
    <wsdl:port name="BasicHttpBinding_IContact" binding="tns:BasicHttpBinding_IContact">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ContactManagement/ContactService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>